.footer {
	height: 274px;
    box-sizing: border-box;
    background-color: #292929;
    width: 100%;
}

.footer img {
    height: 28px;
    margin-bottom: 20px;
    margin-top: 35px;
}

.footer-btm {
    color: #fff;
    width: 100%;
    height: 90px;
    background: #101010;
    position: relative;
    bottom: 0;
    text-align: center;
    margin-top:50px;
}

.footer-btm span {
    position: relative;
    top: 40%;
    font-size: 16px;
}

.footer-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    bottom: 50px;
    left: 0;
    display: block;
    box-sizing: border-box;
}

.footer-sub-container {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    display: block;
    color: #fff;
    width: 414px;
    font-size: 16px;
    font-weight: bold;
}
