.auth-form {
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
  transition-timing-function: linear;
  max-height: 0;
  overflow-y: hidden;
}

.slider-section {
  background-color: #101010;
  height: 666px;
  max-height: 666px;
  margin-bottom: 100px;
  display: block;
  -webkit-transition: display 0.2s ease-in;
  transition: display 0.2s ease-in;
}

.news-section {
  height: auto;
}
